.background-container {
    background-image: url('../../../assets/images/Banner_Home.png');
  }
  
  .text-container {
    padding: 2rem;
  }
  
  .heading {
    font-size: 2rem;
    color: #fff;
    width: 583px;
    margin-top: 50px;
  }
  
  .description {
    font-size: 1.2rem;
    color: #fff;
  }
  