.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: auto;
  }
  
  .navbar-logo {
    font-weight: bold;
  }
  
  .navbar-toggle {
    display: none;
  }
  
  .navbar-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }
  
  .navbar-menu.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #f9f9f9;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .navbar-item {
    margin-left: 1rem;
  }
  
  .navbar-link {
    text-decoration: none;
    color: #333;
  }

  
  @media (max-width: 768px) {
    .navbar-toggle {
      display: block;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  
    .navbar-toggle-icon {
      display: block;
      width: 20px;
      height: 2px;
      background-color: #333;
      margin-bottom: 4px;
    }
  
    .navbar-menu {
      display: none;
    }
  }
  